Package: me.chewitt.noccseparators
Name: NoCCSeparators
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: Removes all separators in the control centre (including the one between AirDrop & AirPlay).
Maintainer: Charlie Hewitt <contact@chewitt.me>
Author: Charlie Hewitt <contact@chewitt.me>
Section: Tweaks
